# Eclipse
.metadata/
.settings/
.classpath
.project

# IntelliJ/IDEA
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Cache, logs, and other temp files
*.log
*.lock
Crashpad/
BrowserMetrics*
EdgeEDrop*
